th,
table,
td {
  border: 1px solid black;
}

.table {
  width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  .table {
    width: 600px;
    font-size: 10px;
  }
}

th {
  height: 30px;
}

td {
  height: 50px;
}
